<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name = "hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <!-- Assume test is the database name -->
        <property name = "hibernate.connection.url">jdbc:oracle:thin:@//10.12.47.107:1521/DEVELOPR2PDB</property>
        <property name = "hibernate.connection.username">SMS_GATEWAY</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- DOCKER -->
        <property name="hbm2ddl.auto">update</property>
        <property name = "hibernate.connection.password">SMS_GATEWAY</property>
        <property name="hibernate.connection.pool_size">100</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <!-- Mapping -->
        <mapping class="ir.navaco.mcb.sms.gateway.consumer.services.handlers.db.entity.SMSResponse"/>
        <mapping class="ir.navaco.mcb.sms.gateway.consumer.services.handlers.db.entity.SMSRequest"/>
        <mapping class="ir.navaco.mcb.sms.gateway.consumer.services.handlers.db.entity.SMSPolicy"/>
    </session-factory>
</hibernate-configuration>